<% layout('layout') -%>

<div class="container">
  <div class="card border-success mt-5">
    <h1 class="card-header">BGRS</h1>
    <div class="card-body">
      <p><img src="<%= image %>" /></p>
    </div>
  </div>
</div>
