<% layout('layout') -%>

<style>
  .output {
    max-width: 100%;
  }
  .btn {
    background: #b53745;
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;
    color: #ffffff;
  }
  .btn svg {
    margin-right: 10px;
  }
</style>

<div class="mb-2">
  <a href="/" class="btn btn-primary" type="submit">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
      />
    </svg>

    Go back
  </a>
</div>

<img class="output" src="<%= image %>" />

<div class="socialWrapper mt-2">
  <a href="#" class="icon facebook">
    <div class="tooltip">Facebook</div>
    <span><i class="fab fa-facebook-f"></i></span>
  </a>
  <a href="#" class="icon whatsapp">
    <span><i class="fab fa-whatsapp"></i></span>
  </a>
  <a href="#" class="icon instagram">
    <div class="tooltip">Instagram</div>
    <span><i class="fab fa-instagram"></i></span>
  </a>

  <button class="btn downloadButton">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-cloud-arrow-down-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"
      />
    </svg>
    Download
  </button>
</div>

<script>
  function dataURItoBlob(dataURI) {
    var byteString = atob(dataURI.split(",")[1]);
    var mimeString = dataURI.split(",")[0].split(":")[1].split(";")[0];
    var ab = new ArrayBuffer(byteString.length);
    var ia = new Uint8Array(ab);
    for (var i = 0; i < byteString.length; i++) {
      ia[i] = byteString.charCodeAt(i);
    }
    return new Blob([ab], { type: mimeString });
  }

  function downloadURI(uri, name) {
    var link = document.createElement("a");
    link.download = name;
    link.href = uri;
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    delete link;
  }

  $(".downloadButton").click(function () {
    downloadURI("<%= image %>", "bgrs-image.png");
  });

  $(".icon").click(async function () {
    if (!("share" in navigator)) {
      console.log("OPPPSS...");
      return;
    }
    const file = dataURItoBlob("<%= image %>");
    const files = [new File([file], "image.png", { type: "image/jpeg" })];
    const shareData = {
      text: "વિજયાદશમી નિમિતે બોપલ ઘુમા રાજપૂત સમાજ દ્વારા આયોજિત રેલી અને શસ્ત્રપૂજન સમારોહ",
      title:
        "વિજયાદશમી નિમિતે બોપલ ઘુમા રાજપૂત સમાજ દ્વારા આયોજિત રેલી અને શસ્ત્રપૂજન સમારોહ",
      files,
    };

    if (navigator.canShare(shareData)) {
      try {
        await navigator.share(shareData);
      } catch (err) {
        if (err.name !== "AbortError") {
          console.error(err.name, err.message);
        }
      }
    } else {
      console.warn("Sharing not supported", shareData);
    }
  });
</script>

<style>
  .socialWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socialWrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socialWrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .socialWrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .socialWrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .socialWrapper .icon:hover span,
  .socialWrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .socialWrapper .facebook,
  .socialWrapper .facebook .tooltip,
  .socialWrapper .facebook .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .socialWrapper .whatsapp,
  .socialWrapper .whatsapp .tooltip,
  .socialWrapper .whatsapp .tooltip::before {
    background-color: #25d366;
    color: #ffffff;
  }
  .socialWrapper .instagram,
  .socialWrapper .instagram .tooltip,
  .socialWrapper .instagram .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .socialWrapper .github,
  .socialWrapper .github .tooltip,
  .socialWrapper .github .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }
  .socialWrapper .youtube,
  .socialWrapper .youtube .tooltip,
  .socialWrapper .youtube .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }
</style>
